body{margin:0px 0px 0px 0px}
#title{font-size:35px;text-align: center;width:100%;background-color:#4444bb;margin:0px 0px 0px 0px;
  padding:20px 0px 20px 0px}
#title span:nth-child(3){background-color:white;color:#4444bb;padding:5px 5px 5px 5px}
#title span:nth-child(1){background-color:white;color:#4444bb;padding:5px 5px 5px 5px}
#title span:nth-child(2){color:white;padding:5px 5px 5px 5px}
#title span:nth-child(4){color:white; font-size:20px;padding:5px 5px 5px 5px}
#title img{float:right;width:80px;margin:-20px 0px 0px 0px}

#main
{ 
  text-align: center;width:100%;
  margin:0px 0px 0px 0px;  
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #ddd;
  padding: 2px;
}
#main div
{
  background-image: linear-gradient(lightblue, lightyellow);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  font-size: 15px;
  text-align: left;
  margin:10px 10px 10px 10px;
  
  border-radius:6px; 
  box-shadow:#00BBBB 2 2
}
#main div:hover{background-image: linear-gradient(lightblue, pink);} 
#main div span{
display: block;
text-align:center;
float:center;
color:darkblue;
font-size: 20px;
font-weight:700px;
margin: 6px 6px 6px 6px
}

