  body{margin:0px 0px 0px 0px; font-size:18px}
  table{margin:0px 0px 0px 0px}
  #qrcode:hover{transform: scale(6,6);position: relative; left:-500px; top:250px}
  #h{font-size:38px;color:white;background-color: blue;text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;}
   