  body{margin:0px 0px 0px 0px; font-size:18px}
  table{margin:0px 0px 0px 0px}
  #h{font-size:38px;color:white;background-image:url(frames.png);background-repeat:no-repeat;background-color: blue;text-align:center}

