  body{margin:0px 0px 0px 0px; font-size:18px}
  table{margin:0px 0px 0px 0px}
  #h{font-size:38px;color:white;height:80px;line-height:80px;background:url(frames.png) right no-repeat;background-color: blue;text-align:center}
   